*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

.container {
  display: grid;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(2, minmax(min-content, 60rem)) [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: 100vh min-content; }

.logo-text {
  font-family: "Great Vibes", cursive;
  color: white; }

.heading-1 {
  font-family: "Pacifico", cursive;
  color: black; }
  .heading-1--white {
    color: white; }

.heading-2 {
  font-family: "Oswald", sans-serif;
  color: black; }
  .heading-2--light {
    font-weight: 300; }
  .heading-2--med {
    font-weight: 400; }
  .heading-2--bold {
    font-weight: 600; }
  .heading-2--white {
    color: white; }

.body-text {
  font-family: "Roboto", sans-serif;
  color: black; }
  .body-text--light {
    font-weight: 300; }
  .body-text--med {
    font-weight: 500; }
  .body-text--bold {
    font-weight: 700; }
  .body-text--white {
    color: white; }

.u-mb-small {
  margin-bottom: 1.5rem; }

.u-mb-med {
  margin-bottom: 4rem; }

.u-mb-big {
  margin-bottom: 8rem; }

.u-center-text {
  text-align: center; }

.header {
  grid-column: full-start / full-end;
  background: url(../images/bg-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 1fr));
  grid-template-rows: min-content 1fr minmax(6rem, min-content) 1fr;
  padding: 5rem; }
  .header__logo {
    font-size: 5rem;
    grid-column: 1 / span 1;
    justify-self: flex-start; }
  .header__heading-main {
    font-size: 10rem;
    grid-column: 1 / -1;
    justify-self: center; }
  .header__heading-secondary {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: center; }
  .header__btn {
    cursor: pointer;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: flex-start; }
