// FONTS //
$font-logo: "Great Vibes", cursive; // 400
$font-title: "Pacifico", cursive; // 400
$font-primary: "Oswald", sans-serif; // 300,400,600
$font-secondary: "Roboto", sans-serif; // 300,400,500, 700

// Colors //

$color-green-1: rgba(133, 188, 69, 1);
$color-green-2: rgba(68, 189, 50, 1);

$white: rgba(255, 255, 255, 1);
$white-light: rgba(255, 255, 255, 0.5);
$black: rgba(0, 0, 0, 1);
